.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  background-color: antiquewhite;
  top: 0;
  left: 0;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.header_body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 24px;
  height: 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 139px;
          flex: 0 0 139px;
  position: relative;
  z-index: 4;
}

.header_logo img {
  max-width: 100%;
  display: block;
}

.header_menu,
.header_menu_left,
.header_menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._menu {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 4;
}

.header_menu__link,
.item__link {
  padding-left: 16px;
}

.header_burger {
  display: none;
}

.header_menu_mob {
  display: none;
}

@media (max-width: 767px) {
  .header_body {
    height: 55px;
  }
  .header_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }
  .header_menu_mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 5;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 4;
  }
  .header_burger:before,
  .header_burger::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger:before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_burger span {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 12px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header_burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 15px;
  }
  .header_burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }
  .header_burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFC3A0;
    z-index: 3;
    overflow: auto;
    font-size: 25px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: block;
  }
  .header_menu.active {
    top: 0;
  }
  .header_menu_left {
    display: block;
    padding: 80px 0 0 0;
  }
  .header_menu_left li {
    margin: 0 0 20px 0;
  }
  .header_menu_right {
    display: none;
  }
  body.lock {
    overflow: hidden;
  }
}

.content {
  padding: 100px 10px;
}

@media (max-width: 767px) {
  .content {
    padding: 70px 10px;
  }
}
